<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main</title>
    <link rel="stylesheet" href="/css/app.css" >
  </head>
  <body>

    <div class="app">
      {{>header}}
      <main>
        {{{body}}}
      </main>
       {{>footer}}
    </div>
  </body>
</html>